.foodItems {
    width: 41vw;
    background-color: white;
    min-height: 100vh;
    padding: 2rem 0;
    overflow: hidden;
}

.foodItems .topIcon {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-inline: 2rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.foodItems .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 2rem;
}

.foodItems .header .input {
    display: flex;
    align-items: center;
    border: 1px solid #787770;
    border-radius: 8px;
    padding: .3rem;
    padding-inline: 1rem;
    width: 90%;
    gap: .5rem;
}

.foodItems .header input {
    height: 35px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: #787770;
}

.foodItems .header .searchIcon {
    font-size: 1.3rem;
    color: #787770;
}

.foodItems .header .likeIcon {
    font-size: 1.8rem;
    color: #0000009d;
}

.foodItems .foodCategories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    margin-bottom: .6rem;
}

.foodItems .foodCategories h2 {
    font-size: 1rem;
}

.foodItems .foodCategories button {
    border: none;
    outline: none;
    background-color: inherit;
    font-size: .8rem;
    cursor: pointer;
}

.foodItems .foodData {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .8rem;
    /* flex-basis: 150px; */
    margin-left: 2rem;
}

.foodItems .food {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 85px;
    gap: .5rem;
}

.foodItems .animi {
    flex-basis: 85px;   
}

.foodItems .overflow {
    flex-wrap: nowrap;
    width: max-content;
}

.foodItems .discount {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    margin-bottom: .6rem;
}


@media (max-width: 900px) {
    .foodItems {
        width: 50vw;
    }


    .foodItems .topIcon {
        display: flex;
    }

}


@media (max-width: 730px) {
    .foodItems {
        width: 100vw;
    }

    .foodItems .topIcon {
        margin-inline: 1rem;
    }

    .foodItems .header {
        margin-inline: 1rem;
        gap: 1rem;
    }

    .foodItems .foodCategories {
        margin-inline: 1rem;
    }

    .foodItems .foodData {
        margin-left: 1rem;
    }

    .foodItems .discount {
        margin-left: 1rem;
    }

}
